<%= form_for(travel_event) do |f| %>
    <% if travel_event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(travel_event.errors.count, "error") %> prohibited this travel_event from being saved:</h2>

          <ul>
            <% travel_event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <div class="row">
      <div class=" col-md-12">
        <%= f.label :name %>
      </div>
    </div>

    <div class="row row-padding">
      <div class=" col-md-12">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-12">
        <%= f.label :description %>
      </div>
    </div>

    <div class="row row-padding">
      <div class=" col-md-12">
        <%= f.text_field :description %>
      </div>
    </div>
    <div class="row">
      <div class=" col-md-12">
        <%= f.label :image %>
      </div>
    </div>

    <div class="row row-padding">
      <div class=" col-md-12">
        <%= f.file_field :image %>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-12">
        <%= f.label :max_attendance %>
      </div>
    </div>

    <div class="row row-padding">
      <div class=" col-md-12">
        <%= f.number_field :max_attendance %>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-12">
        <%= f.label :price %>
      </div>
    </div>

    <div class="row row-padding">
      <div class=" col-md-12">
        <%= f.text_field :price %>
      </div>
    </div>



    <div class="row">
      <div class=" col-md-12">
        <%= f.label :start %>
      </div>
    </div>

    <div class="row row-padding">
      <div class=" col-md-12">
        <%= f.datetime_select :start, :ampm => true, :minute_step => 15 %>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-12">
        <%= f.label :duration %>
      </div>
    </div>

    <div class="row row-padding">
      <div class=" col-md-12">
        <%= f.time_select :duration %>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-12">
        <%= f.label :destination %>
      </div>
    </div>

    <div class="row row-padding">
      <div class=" col-md-12">
        <%= f.collection_select :travel_destination_id, TravelDestination.all, :id, :address %>
        <%= link_to "Add new", new_travel_destination_path, target: :_blank %>
      </div>
    </div>



    </br>

    <div class="actions">
      <%= f.submit(class: "btn btn-sm btn-primary") %>
    </div>




<% end %>
