<div id="filterrific_results">
	<div>
		<%= page_entries_info travel_events%>
	</div>
	<table class="table">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Description</th>
		<th>Destination</th>
		<th>Price</th>
		<th>Start</th>
		<th>Duration</th>
		<th colspan="2"></th>
	  </tr>
	</thead>
	<tbody>
	  <% @travel_events.each do |travel_event| %>
		<tr>
		  <td><%= link_to travel_event.name, travel_event_path(:id => travel_event.id) %>
          </td>
          <td><%= travel_event.description %></td>
          <td><%= travel_event.travel_destination_id %></td>
          <td><%= travel_event.price %></td>
          <td><%= travel_event.start %></td>
          <td><%= travel_event.duration.strftime("%H:%M:%S") %></td>
          <td><%= link_to 'Invite', new_invitations_path(:id => travel_event.id), class: 'btn btn-sm btn-default' %></td>
          <td><%= link_to 'Show', travel_event, class: 'btn btn-sm btn-primary'%></td>
		</tr>
	  <% end %>
	</tbody>
	</table>
</div>

<%= will_paginate travel_events%>