<div class="container">

  <div class="row">
    

    <div class="row mt-5 mb-5">
	  
      <div class="col-md-12">
	    <div class="col-sm-2">
          <%= link_to 'New Travel Event', new_travel_event_path, class: "btn btn-primary btn-sm"%>  
        </div>
        <%= form_for_filterrific @filterrific do |f| %>
          <div>
            <div class="col-sm-9">
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.text_field(
              :search_query,
			  placeholder: "Search for an upcoming event",
              class: 'filterrific-periodically-observed form-control'
            ) %>
			</div>
			<div class="col-sm-1">
			<%= render_filterrific_spinner %>
			</div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-md-12">
        <%= render(
          partial: 'travel_events/list',
          locals: { travel_events: @travel_events }
        ) %>    
      </div>
    </div>
    
  </div>


</div>
