<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table id="events">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Start</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <% @travel_events.each do |travel_event| %>
      <tr>
        <td><%= travel_event.name %></td>
        <td><%= travel_event.description %></td>
        <td><%= travel_event.price %></td>
        <td><%= travel_event.start %></td>
        <td><%= travel_event.duration.strftime("%H:%M:%S") %></td>
        <td><%= link_to 'Invite', new_invitations_path(:id => travel_event.id) %></td>
        <td><%= link_to 'Show', travel_event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
