<div class="container">

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'travel_events/list',
  locals: { travel_events: @travel_events }
) %>

</div>


<%= link_to 'New Travel Event', new_travel_event_path %>
