<p id="notice"><%= notice %></p>

<h1>Travel Events</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travel_events.each do |travel_event| %>
      <tr>
        <td><%= link_to 'Show', travel_event %></td>
        <td><%= link_to 'Edit', edit_travel_event_path(travel_event) %></td>
        <td><%= link_to 'Destroy', travel_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel Event', new_travel_event_path %>
