<div class="container text-center">
  <div class="card text-left">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12">
          <h1 class="card-title text-center"><%= @travel_event.name %></h1>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <span class="label label-info">
            <span class="glyphicon glyphicon-map-marker"></span>
            <%= @travel_event.travel_destination.address %>
          </span>
        </div>

        <div class="col-md-6">
          <div class="pull-right">
            <span class="label label-default">
              <span class="glyphicon glyphicon-time"></span>
              Start at: <%= @travel_event.start %>   
            </span>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <span class="label label-info">
            <span class="glyphicon glyphicon-usd"></span>
            Cost: <%= @travel_event.price %>
          </span>
        </div>

        <div class="col-md-6">
          <div class="pull-right">
            <span class="label label-default">
              <span class="glyphicon glyphicon-time"></span>
              Duration: <%= @travel_event.duration.strftime("%H hr %M min %S sec") %>
            </span>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <span class="label label-info">
            <span class="glyphicon glyphicon-user"></span>
            Max Attendance: <%= @travel_event.max_attendance %>
          </span>
        </div>

      </div>


    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-lg-12">
          <p class="card-text"><%= @travel_event.description %></p>
        </div>
      </div>

      <div class="custom-table-row">
        <div class="row">
          <div class="col-lg-10">
            <h3>Reviews: </h3>
          </div>

          <% if @has_review == false %>
              <div class="row row-padding">
                <div class="col-lg-2">
                  <div class="pull-right">
                    <%= link_to new_review_path(travel_event_id: @travel_event.id), class: "btn btn-sm btn-default" do %>
                        <i class="glyphicon glyphicon-plus"></i>
                        Write a Review
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>

        <% if @reviews.size > 0 %>
            <div class="container-fluid">
              <div class="inner">
                <div class="rating">
                  <span class="rating-num"><%= @average_rating.round(2) %></span>
                  <div class="rating-stars">
                    <div class="star-rating-avg" data-score=<%= @average_rating.round(2) %>></div>
                  </div>
                  <div class="rating-users">
                    <span class="glyphicon glyphicon-user"></span>
                      <%= @reviews.count(:all) %>
                    total
                  </div>
                </div>

                <div class="histo">
                  <div class="five histo-rate">
                    <span class="histo-star">
                      <i class="active glyphicon glyphicon-star"></i> 5
                    </span>
                    <span class="bar-block">
                      <span id="bar-five" class="bar" data-score=<%= @reviews.where('rating > 4.5').count  %>>
                        <%= @reviews.where('rating > 4.5').count  %>
                      </span>
                    </span>
                  </div>

                  <div class="four histo-rate">
                    <span class="histo-star">
                      <i class="active glyphicon glyphicon-star"></i> 4
                    </span>
                    <span class="bar-block">
                      <span id="bar-four" class="bar">
                        <%= @reviews.where('rating >= 3.5 and rating < 4.5').count  %>
                      </span>
                    </span>
                  </div>

                  <div class="three histo-rate">
                    <span class="histo-star">
                      <i class="active glyphicon glyphicon-star"></i> 3
                    </span>

                    <span class="bar-block">
                      <span id="bar-three" class="bar">
                        <%= @reviews.where('rating >= 2.5 and rating < 3.5').count  %>
                      </span>
                    </span>
                  </div>

                  <div class="two histo-rate">
                    <span class="histo-star">
                      <i class="active glyphicon glyphicon-star"></i> 2
                    </span>
                    <span class="bar-block">
                      <span id="bar-two" class="bar">
                        <%= @reviews.where('rating >= 1.5 and rating < 2.5').count  %>
                      </span>
                    </span>
                  </div>

                  <div class="one histo-rate">
                      <span class="histo-star">
                        <i class="active glyphicon glyphicon-star"></i> 1
                      </span>
                      <span class="bar-block">
                        <span id="bar-one" class="bar">
                          <%= @reviews.where('rating >= 0.5 and rating < 1.5').count  %>
                        </span>
                      </span>
                  </div>
                </div>
              </div>
            </div>

            <% @reviews_paginated.each do |review| %>
                <% @reviewer = User.where(id: review.user_id).take %>

                <% if @reviewer != nil %>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-offset-2 col-md-8">
                        <div class="card">
                          <div class="card-header">
                            <div class="row">
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-md-12">
                                    <h4 class="card-title">
                                    <span>
                                      <%= image_tag(@reviewer.image_url(:thumb).to_s) %>
                                      <% @reviewer_full_name = @reviewer.first_name + " " + @reviewer.last_name %>
                                      <%= link_to @reviewer_full_name, user_path(review.user_id) %>
                                    </span>
                                    </h4>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-12">
                                    <div class='star-rating' data-score=<%= review.rating %>></div>
                                  </div>
                                </div>

                              </div>


                              <div class="col-md-4 pull-right">
                                <div class="row pull-right">
                                  <div class="col-md-12">
                                    <%= link_to 'Show', review_path(review), class: "btn btn-sm btn-default" %>
                                    <% if review.user_id == current_admin.user.id %>

                                        <%= link_to edit_review_path(review), class: "btn btn-sm btn-default" do%>
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        <% end %>
                                        <%= link_to review_path(review), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" do%>
                                            <i class="glyphicon glyphicon-trash"></i>
                                        <% end %>

                                    <% end %>

                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="card-block">
                            <p class="card-text">
                            <div style="word-wrap: break-word;min-width: 200px;max-width: 200px;">
                              <%= truncate review.description, length: 160 %>
                            </div>
                            </p>

                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                <% end %>

            <% end %>

            <div class="container-fluid">
              <div class="row">
                <div class="text-center">
                  <div class="flickr_pagination">
                    <div class="page_info">
                      <div>
                        (
                        <%= page_entries_info @reviews_paginated %>
                        )
                      </div>
                    </div>
                    <%= will_paginate @reviews_paginated %>
                  </div>
                </div>
              </div>
            </div>

        <% end %>
      </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer">
      <%= link_to 'Edit', edit_travel_event_path(@travel_event), class: "btn btn-sm btn-primary" %>
      <%= link_to 'Back', travel_events_path, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>


<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		number: 5,
		score: function () {
			return $(this).attr('data-score');
		}
	});

	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		number: 5,
		score: function () {
			return $(this).attr('data-score');
		}
	});

	$('.star-rating-avg').raty({
		path: '/assets/',
		readOnly: true,
		number: 5,
		score: function () {
			return $(this).attr('data-score');
		}
	});

	$(document).ready(function() {
		$('.bar span').hide();

		fiveValue = +($('#bar-five')[0].innerText)
		fourValue = +($('#bar-four')[0].innerText)
		threeValue = +($('#bar-three')[0].innerText)
		twoValue = +($('#bar-two')[0].innerText)
		oneValue = +($('#bar-one')[0].innerText)
        sum = fiveValue + fourValue + threeValue + twoValue + oneValue

        fivePerc = (fiveValue * 100/ sum)
		fourPerc = (fourValue * 100/ sum)
		threePerc = (threeValue * 100/ sum)
		twoPerc = (twoValue * 100/ sum)
		onePerc = (oneValue * 100/ sum)

        fivePerc = (fivePerc == 0) ? 5 : fivePerc
		fourPerc = (fourPerc == 0) ? 5 : fourPerc
		threePerc = (threePerc == 0) ? 5 : threePerc
		twoPerc = (twoPerc == 0) ? 5 : twoPerc
		onePerc = (onePerc == 0) ? 5 : onePerc



		$('#bar-five').animate({
			width: fivePerc + "%"}, 1000);
		$('#bar-four').animate({
			width: fourPerc + "%"}, 1000);
		$('#bar-three').animate({
			width: threePerc + "%"}, 1000);
		$('#bar-two').animate({
			width: twoPerc + "%"}, 1000);
		$('#bar-one').animate({
			width: onePerc + "%"}, 1000);

		setTimeout(function() {
			$('.bar span').fadeIn('slow');
		}, 1000);

	});
</script>