<div class="container" style="border: 1px solid #5bc0de;">

  <div class="row">
    <div class="col-lg-12">
      <h1>Name: <%= @travel_event.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      Max Attendance: <%= @travel_event.max_attendance %> <br/>
      Price: <%= @travel_event.price %>
    </div>
    <div class="col-lg-6 text-right">
      Start Date: <%= @travel_event.start %> <br/>
      Duration: <%= @travel_event.duration %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3>Description: </h3><br/>
      <%= @travel_event.description %>
    </div>
  </div>

  <div class="row custom-table-row">
    <div class="col-lg-12">
      <h3>Reviews: </h3>
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-lg-12">
      <%= link_to 'Write a review', new_review_path(travel_event_id: @travel_event.id), class: "btn btn-sm btn-primary"%>
    </div>
  </div>

  <% if @reviews.size > 0 %>

  <table class="table">
    <thead>
      <tr>
        <th>Reviewer</th>
        <th>Rating</th>
        <th>Review</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to User.where(id: review.user_id).take.email, user_path(review.user_id) %></td>
        <td><%= review.rating %></td>
        <td><%= review.description %></td>
        <% if review.user_id == current_admin.id%>
        <td>
          <%= link_to 'Edit', edit_review_path(review), class: "btn btn-sm btn-primary"%>
          <%= link_to 'delete', review_path(review), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" %>
        </td>
        <%end%>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%end%>

  <div class="row custom-table-row">
    <div class="col-lg-12">
      <%= link_to 'Edit', edit_travel_event_path(@travel_event), class: "btn btn-sm btn-primary"%>
      <%= link_to 'Back', travel_events_path, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>