<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">TravelBuddy</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="nav navbar-nav">
			<!-- Will add Javascript to make buttons active later, and add div anchors -->
			<li role="presentation">
				<%= link_to 'Events', home_path(anchor: '') %>
			</li>
			<li role="presentation">
				<%= link_to 'Past Events', home_path(anchor: '') %>
			</li>
			<li role="presentation">
				<%= link_to 'Invitations', invitations_path(anchor: '') %>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<% if admin_signed_in? %>
					<li><%= link_to 'Logout', destroy_admin_session_path, method: :delete%></li>
					<li><%= link_to current_admin.email, user_path(current_admin.id), style: 'color: #00f !important' %></li>
				<% else%>
					<li><%= link_to 'Sign In', new_admin_session_path %></li>
					<li><%= link_to 'Sign Up', new_admin_registration_path %></li>
				<% end %>
			</li>
		</ul>
	</div><!-- /.container-fluid -->
</nav>