<!DOCTYPE html>
<html>
<head>
	<title>TravelBuddy</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag 'https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js' %>
</head>

<body>
	<%= render 'shared/navigation' %>
	<% if flash[:notice] %>
		<div class="alert alert-info">
			<div class="notice text-center">
				<strong><%= notice %></strong>
			</div>
		</div>
	<% end %>
	<% if flash[:alert] %>
		<div class="alert alert-danger">
			<div class="notice text-center">
				<strong><%= alert %></strong>
			</div>
		</div>
	<% end %>
	<%= yield %>
</body>
</html>
